/* * {
    box-sizing: border-box;
}

.valid {
    border: 5px solid green;
}

.invalid {
    border: 5px solid red;
} */

.valid {
    background-color: aquamarine;
}

.invalid {
    background-color: lightcoral;
}

input {
    outline: none;
}